body {
    margin: 0;
    padding: 0;
    background-color: seashell;
    height: 100vh;
    width: 100%;
}


.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    .title {
        background:none;
    }

    div {
        background-color: rgb(255, 233, 213);
        width: 20%;
        min-width: 150px;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        padding-bottom: 10px;

        select {
            width: 120px;
            height: 40px;
            margin: 5px;
            border: none;
        }

        .customInput {
            width: 120px;
            height: 40px;
            text-align: center;
            margin: 0;
            padding: 0;
            margin: 5px;
            border: none;
        }

        button {
            width: 120px;
            height: 30px;
            font-weight: bold;
            background-color: seashell;
            border-radius: 10px;
            border: none;
        }
        button:hover {
            background:rgb(255, 255, 255)
        }
    }
}
